.navigation {
	padding: 20px;

	background-color: #FFF;
	box-shadow: 0 20px 36px rgb(0 0 0 / 5%);
}

.navigation__logo {
	text-decoration: none;

	color: black;

	font-size: 36px;
}

.navigation__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigation__form {
	position: relative;
}

.navigation__form input {
	width: 300px;
	padding: 12px 35px 12px 10px;

	color: black;
	border: none;
	border-radius: 10px;
	outline: none;
	box-shadow: 0 0 36px rgb(0 0 0 / 10%);

	font-size: 14px;
}

.navigation__form button {
	position: absolute;
	right: 0;
	bottom: 0;

	padding: 11px 7px;

	cursor: pointer;

	border: none;
	border-radius: 0 10px 10px 0;
	outline: none;
	background-color: #FFF;
}

.navigation__form button svg {
	width: 20px;
}
