.modal {
	position: fixed;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgba(0, 0, 0, 0.5);
	inset: 0;
}

.modal__wrapper {
	display: flex;
	flex-direction: column;

	width: 280px;
	height: 250px;
	padding: 20px;

	border-radius: 20px;
	background-color: #FFF;
}

.modal__close {
	align-self: flex-end;

	cursor: pointer;
}

.modal__close svg {
	width: 32px;
	height: 32px;
}

.modal__body {
	align-self: center;
	flex: 0 0 auto;
}

.modal__body svg {
	width: 80px;
	height: 100px;

	animation: droppItem 1s linear alternate infinite;
}

@keyframes droppItem {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-10px);
	}
}

.modal__body span {
	width: 150px;
	height: 150px;
	padding-left: 20px;

	border: 1px solid black;
	border-radius: 100%;
}

.modal__body h3 {
	margin-top: 30px;

	text-align: center;
	text-transform: uppercase;

	font-size: 20px;
}
