.modal {
	position: fixed;
	inset: 0;
	background-color: rgba(0,0,0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal__wrapper {
	background-color: #FFFFFF;
	width: 280px;
	height: 250px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.modal__close {
	align-self: flex-end;
	cursor: pointer;
}

.modal__close svg {
	width: 32px;
	height: 32px;
}

.modal__body{
	align-self: center;
	flex: 0 0 auto;
}
.modal__body svg {
	width: 80px;
	height: 100px;
	animation: droppItem 1s linear alternate infinite;
}

@keyframes droppItem {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-10px);
	}
}
.modal__body span {
	padding-left: 20px;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	border: 1px solid black;
}
.modal__body h3 {
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 30px;
}