.launche-detail {
	padding: 50px 0;
}

.launche-detail__wrapper {
	display: grid;
	grid-template-columns: 0.6fr 1fr;
	gap: 50px;
}

.launche-detail__img {
	height: 500px;
}

.launche-detail__img img {
	display: block;

	max-width: 100%;
	height: 100%;
	margin: 0 auto;
	object-fit: contain;
}

.launche-detail__title {
	margin-top: 30px;

	font-size: 36px;
	font-weight: 500;
	line-height: 30px;
}

.launche-detail__description article {
	margin-top: 1rem;

	color: #464646;

	font-size: 16px;
	line-height: 24px;
}

.launche-detail__description table {
	width: 100%;
	margin-top: 30px;
}

.launche-detail__description table thead {
	color: #464646;
	background-color: #CDCDCD;
}

.launche-detail__description table thead tr td,
.launche-detail__description table tbody tr td {
	padding: 15px 10px;

	font-size: 14px;
}

.check-icon,
.cancel-icon {
	display: block;

	width: 30px;
	height: 30px;
	margin: 0 auto;
	padding: 5px;
}

.check-icon {
	background-color: green;
}

.check-icon svg path {
	stroke: white;
}

.cancel-icon {
	background-color: darkred;
}

.cancel-icon svg path {
	stroke: white;
}

@media (max-width: 1399px) {
	.loading span:first-child span {
		width: 440px !important;
	}

	.loading span:last-child span {
		width: 600px !important;
	}
}

@media (max-width: 1200px) {
	.loading span:first-child span {
		width: 400px !important;
	}

	.loading span:last-child span {
		width: 500px !important;
	}
}

@media (max-width: 992px) {
	.loading span:first-child span {
		width: 300px !important;
		height: 280px !important;
	}

	.loading span:last-child span {
		width: 400px !important;
		height: 280px !important;
	}
	.launche-detail__wrapper {
		grid-template-columns: repeat(1, 1fr);
	}
	.launche-detail__img {
		height: 300px;
	}
}

@media (max-width: 768px) {
	.loading  {
		flex-direction: column;
	}
	.loading span {
		width: 100%;
	}
	.loading span:first-child span {
		width: 100% !important;
		height: 280px !important;
	}

	.loading span:last-child span {
		width: 100% !important;
		height: 280px !important;

	}
}
