.launche-item {
	display: block;

	margin-bottom: 30px;

	cursor: pointer;
	user-select: none;
	text-decoration: none;

	border-radius: 20px;
	background-color: #FFF;
	box-shadow: 0 0 36px rgb(0 0 0 / 5%);

}

.launche-item:last-child {
	margin-bottom: 0;
}

.launche-item__img {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 10px;
}

.launche-item__img img {
	width: 100%;
	height: 200px;

	user-select: none;

	border-radius: 20px 20px 0 0;
	object-fit: contain;
}

.launche-item__body {
	padding: 20px 12px;
}

.launche-item__title {
	margin-bottom: 15px;

	letter-spacing: 1px;

	color: black;

	font-size: 20px;
	font-weight: 500;
	line-height: 25px;
}

.launche-item__date {
	text-align: right;

	color: rgba(0, 0, 0, 0.5);
}
