.launche-item {
	text-decoration: none;
	box-shadow: 0 0 36px rgb(0 0 0 / 5%);
	background-color: #fff;
	display: block;
	margin-bottom: 30px;
	border-radius: 20px;
	user-select: none;
	cursor: pointer;
}

.launche-item:last-child {
	margin-bottom: 0;
}

.launche-item__img {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.launche-item__img img {
	user-select: none;
	width: 100%;
	object-fit: contain;
	height: 200px;
	border-radius: 20px 20px 0 0;
}

.launche-item__body {
	padding: 20px 12px;
}

.launche-item__title {
	font-size: 20px;
	margin-bottom: 15px;
	color: black;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 25px;
}

.launche-item__date {
	color: rgba(0, 0, 0, 0.5);
	text-align: right;
}