.launche-list {
	padding: 20px 30px;

	border-radius: 20px;
	background-color: #FFF;
	box-shadow: 0 0 36px rgb(0 0 0 / 4%);
}

.launche-list__title {
	margin-bottom: 30px;

	text-align: center;

	font-size: 26px;
	font-weight: 500;
}
